 html {
                font-size:10px;
            }

            .iframetab {
                width:100%;
                height:auto;
                border:0px;
                margin:0px;
                background:url("data/iframeno.png");
                position:relative;
                top:-5px;
            }

            .ui-tabs-panel {
                padding:5px !important;
            }

          .openout {
                float:right;
                position:relative;
                top:-28px;
                left:-5px;
            } 
